* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: white;
    justify-content: center;

}

header {
    display: flex;
    position: fixed;
    flex-direction: column;

    width: 100%;
    height: 15%;

    background-color: black;
    z-index: 999;
}

nav {
    display: flex;
    justify-content: center;

    height: 65%;
    width: 100%;
}

nav:last-of-type {
    height: 35%;
}

header nav button {
    display: flex;
    height: 100%;
    background: none;
    border: none;
    padding: 0.5%;
}

button img {
    cursor: pointer;
    height: 100%;
}

nav a {
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-decoration: none;

    height: 100%;
    width: 100%; 
    color: white;
    margin: auto;
}

a img {
    height: 100%;
}

div {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    height: 60%;
    width: 25%;

    border: 2px black solid;
    border-radius: 20px;

}

section img {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 100px ;
}

section p {
    display: flex;
    margin: 10px;
    justify-content: center;
}

section input {
    text-decoration: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    margin: 5px;
}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    background-color: black;
}

footer button {
    display: flex;
    align-items: center;
    height: 5rem;
    background: none;
    border: none;
    padding: 0.5%;
}

footer a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: gray;
}
input:hover {
    color: black;
    background-color: white;
}

@media screen and (max-width: 540px){
    div {
        flex-direction: column;
        justify-content:space-between ;
    }

    h1 {
        font-size: x-large;
    }
    
    p {
        font-size: larger;
    }

    section {
        width: 90%;
        margin-bottom: 10px;
    }

    section input {
        width: 70%;
    }

    nav a {
        font-size: medium;
    }
}
